In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [109]:
ds=pd.read_csv('data_preprocessed.csv')

In [110]:
ds.head(5)

,Unnamed: 0,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,...,BRABANT FLAMAND,BRABANT WALLON,BRUXELLES.1,FLANDRE-OCCIDENTALE,FLANDRE-ORIENTALE,HAINAUT,LIEGE,LIMBOURG,LUXEMBOURG,NAMUR
0,0,6800,HOUSE,HOUSE,295000.0,5,460.0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,7800,HOUSE,HOUSE,230000.0,4,128.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,6044,HOUSE,HOUSE,130000.0,2,110.0,1,1,0,...,0,0,0,0,0,1,0,0,0,0
3,3,4970,HOUSE,HOUSE,450000.0,9,400.0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,9890,HOUSE,MANSION,435000.0,5,452.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [111]:
ds=ds.drop('Unnamed: 0',axis=1)

In [112]:
ds1= ds.select_dtypes(exclude=['object'])

In [113]:
ds1.shape

(14527, 59)

### GradientBoostingRegressor

In [114]:
X = ds1.drop(['price','garden_area','terrace_area','land_surface','facade_count'],axis=1)
y= ds1['price']

In [115]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [116]:
from sklearn.ensemble import GradientBoostingRegressor

In [117]:

estim= GradientBoostingRegressor(n_estimators=100, max_depth=3, min_samples_split=2, learning_rate=0.1, loss='ls')

In [118]:
estim.fit(X_train, y_train)

GradientBoostingRegressor()

In [119]:
estim.score(X_train, y_train)

0.7733760810502769

In [120]:

y_pred = estim.predict(X_test)

In [121]:
estim.score(X_test, y_test)

0.7109683261792695

### GradientBoostingRegressor house or ap

In [122]:
ds_apartment=ds[ds['type']=='APARTMENT']
ds_house=ds[ds['type']=='HOUSE']

In [123]:
ds_apartment_n = ds_apartment.select_dtypes(exclude=['object'])
ds_house_n=ds_house.select_dtypes(exclude=['object'])

In [124]:
X_apartment = ds_apartment_n.drop(['price','garden_area','terrace_area','land_surface','facade_count'],axis=1)
y_apartment = ds_apartment['price']


X_house=ds_house_n.drop(['price','garden_area','terrace_area','facade_count'],axis=1)
y_house= ds_house['price']

In [125]:
from sklearn.model_selection import train_test_split

X_apartment_train, X_apartment_test, y_apartment_train, y_apartment_test = train_test_split(X_apartment, y_apartment, test_size=0.2, random_state=42)
X_house_train, X_house_test, y_house_train, y_house_test = train_test_split(X_house, y_house, test_size=0.2, random_state=42)

In [126]:

estim_h = GradientBoostingRegressor(n_estimators=100, max_depth=3, min_samples_split=2, learning_rate=0.1, loss='ls')
estim_a = GradientBoostingRegressor(n_estimators=100, max_depth=3, min_samples_split=2, learning_rate=0.1, loss='ls')

In [127]:
estim_h.fit(X_house_train, y_house_train)

estim_a.fit(X_apartment_train, y_apartment_train)

GradientBoostingRegressor()

In [128]:
estim_h.score(X_house_train, y_house_train)

0.8213227868202916

In [129]:
estim_a.score(X_apartment_train, y_apartment_train)

0.785042316786239

In [130]:

y_pred_ap = estim_a.predict(X_apartment_test)
y_pred_h = estim_h.predict(X_house_test)

In [131]:
estim_h.score(X_house_test, y_house_test)

0.7527246500609095

In [132]:
estim_a.score(X_apartment_test, y_apartment_test)

0.7052749372877913